* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(rgb(255, 0, 0), rgb(0, 255, 0), blue);
}

main {
    background-color:  rgb(0, 0, 0);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(rgb(2rgb(8, 160, 8), 0), green, rgb(0, 0, 0), alpha);

}
